main.main {
  display: flex;
  align-items: center;
  justify-content: center;

  > * {
    flex: 0;
  }

  text-align: center;
}


.message {
  font-size: 2rem;
  margin: 2rem;
}

.notFoundIcon {
  fill: var(--color-primary);
}
